doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title= title
		
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		include _partials/header.jade
		
	body
		h1  Gulp - BrowserSync, Jade, Sass starter templates.
		p
			| Congrates you have done it. 
			b Happy coding.

		include _partials/footer.jade